.homepage {
  margin: 0 auto;
  height: 90vh;
}

.header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__logo {
  position: absolute;
  display: flex;
  width: 90%;
}
.header__logo--picture {
  height: 10%;
  width: 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: rgb(97, 0, 243);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #10d320;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(115, 0, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffffff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: hsl(138, 86%, 36%);
}

/* hover-buttons*/
/* Headline, Title Sub-title, Texts*/
.headline {
  height: 33%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  color: violet;
}
.headline__title--main {
  color: #10d320;
  font-size: xx-large;
}

/*page-content legumes picture title text*/
.page-content {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.page-content__legumes {
  height: 80%;
  width: 20%;
}

.container {
  display: flex;
  flex-direction: column;
}
.container__wrapper-text {
  height: 30%;
  flex-grow: 1;
}
.container__wrapper-picture {
  height: 100%;
  width: 100%;
  flex-grow: 3;
  border-top: solid purple;
  border-bottom: solid purple;
}
.container__wrapper-picture--peanut {
  -o-object-fit: fill;
     object-fit: fill;
  height: 80%;
  width: 100%;
}
.container__wrapper-picture--soybean {
  -o-object-fit: fill;
     object-fit: fill;
  height: 80%;
  width: 100%;
}
.container__wrapper-picture--chickpea {
  -o-object-fit: fill;
     object-fit: fill;
  height: 80%;
  width: 100%;
}
.container__wrapper-picture--lentils {
  -o-object-fit: fill;
     object-fit: fill;
  height: 80%;
  width: 100%;
}
.container__wrapper-picture--beans {
  -o-object-fit: fill;
     object-fit: fill;
  height: 80%;
  width: 100%;
}
.container__wrapper-picture__wrapper-text {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.container__wrapper-picture__wrapper-text--title {
  flex-grow: 1;
  text-align: center;
  border-top: solid purple;
  border-bottom: solid purple;
}
.container__wrapper-picture__wrapper-text--description {
  flex-grow: 7;
  text-align: center;
  border-top: solid purple;
  border-bottom: solid purple;
}/*# sourceMappingURL=index.css.map */